<div [class.dark-theme]="isDark">
  <mat-toolbar [color]="isDark ? 'accent' : 'primary'">
    <span>Toolbar</span>
    <span class="example-spacer"></span>
    <button mat-icon-button (click)="toggleTheme()" matTooltip="Toggle dark theme">
      <mat-icon> brightness_6 </mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened [attr.color]="themeColor">
      <mat-nav-list>
        <h1>Sidenav</h1>
        <a mat-list-item href="#">{{ 'LIST.LINK1' | translate }}</a>
        <a mat-list-item href="#">{{ 'LIST.LINK2' | translate }}</a>
        <a mat-list-item href="#">{{ 'LIST.LINK3' | translate }}</a>
      </mat-nav-list>
      <select #langSelect (change)="setLa(langSelect.value)">
        <option value="en">EN</option>
        <option value="ptBr">ptBr</option>
      </select>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
